
<link rel="stylesheet" href="/processos/resources/css/default-properties.css" />
<link rel="stylesheet" href="/processos/resources/css/header/navbar-only-title.css">
<link rel="stylesheet" href="/processos/resources/css/forgot.css">
<div class="navbar">
  <h1>Secretaria Acadêmica do Ensino Superior</h1>
</div>

<main>
  <form class="loginForm" action="/processos/recuperarsenha" method="post">
    <table>
      <tr>
        <td><label><i class="far fa-user"></i> Email</label></td>
      </tr>
      <tr>
        <td><input type="email" name="email" value="" placeholder="Insira seu email"></td>
      </tr>
    </table>
    <button class="submitButton" type="submit" name="button">
      <i class="fas fa-unlock"></i> Recuperar
    </button>
    <p class="alertText">Caso este e-mail seja válido, será enviado um link de recuperação!</p>
  </form>
</main>
<script src="https://kit.fontawesome.com/50093ed56c.js" crossorigin="anonymous"></script>
