
    <link rel="stylesheet" href="/processos/resources/css/default-properties.css" />
    <link rel="stylesheet" href="/processos/resources/css/header/navbar-only-title.css">
    <link rel="stylesheet" href="/processos/resources/css/senha-alterada.css">
    <div class="navbar">
      <h1>Secretaria Acadêmica do Ensino Superior</h1>
    </div>

    <main>
      <h2>Senha alterada com sucesso,</h2>
      <p>Clique <a href="/processos/login">aqui</a> para realizar o acesso. </p>
    </main>
    <script src="https://kit.fontawesome.com/50093ed56c.js" crossorigin="anonymous"></script>
