
    <link rel="stylesheet" href="/processos/resources/css/default-properties.css" />
    <link rel="stylesheet" href="/processos/resources/css/header/navbar-only-title.css">
    <link rel="stylesheet" href="/processos/resources/css/email-enviado.css">
    <div class="navbar">
      <h1>Secretaria Acadêmica do Ensino Superior</h1>
    </div>

    <main>
      <h2>Enviado com sucesso, verifique o e-mail informado.</h2>
    </main>
    <script src="https://kit.fontawesome.com/50093ed56c.js" crossorigin="anonymous"></script>
